@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    height: 64px;
}
footer{
    position: absolute;
    bottom: 30px;

    display: flex;
    justify-content: center;
    width: 100%;
    
}
.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto{
    width: 40%;
    height: auto;
    padding: 1%;

    text-align: justify;
}
.titulo{
    font-size: 56px;

    margin: 2%; 
}
.nota{
    font-size: 24px;
}
.sub-titulo{

}
.conteudo{
    font-size: 20px;
}
.escritor{
    position: relative;
    left: -150px;

    width: 25%;
    height: 80px;
    border-radius: 50px;

    margin: 25px;

    background-color: antiquewhite;
}
.none{
    display: none;
}
.caixa-logo{
    box-sizing: border-box;
    width: 50%;
    height: 240px;
    border-radius: 30px;
    padding: 25px;

    color: aliceblue;
    font-size: 128px;
    text-align: center;
    

    background-color: rgb(19, 25, 95);
}
.btn{
    width: 50px;
    height: 30px;
    border-radius: 3px;
    margin: 5px;

    color: white;
    text-align: center;

    background-color: rgb(19, 25, 95);

    appearance: button;

    text-decoration: none;
    
}
